@charset "utf-8";

.wrapper {
    width: 1250px;
    margin: auto;
}
.page {
    text-align: center;
    line-height: 0px;
    font-size: 24px;
    font-weight: bold;
}
.page1 {
    background: #f0e68c;
}
.page2 {
    background: #4169e1;
}
.page3 {
    background: #ffb6c1;
}
.header,
.footer {
    text-align: center;
    background: #ccc;
    padding: 20px;
}